---
export const prerender = false

import Layout from '../../layouts/Layout.astro';
import {getPieceUniques} from '../../lib/api/piece-uniques.js';
import ProductsGrid from '../../components/ProductsGrid';


const pieceUniques = await getPieceUniques();
console.log("voila ce qu'il y a dans la vue", pieceUniques);

const sorted = pieceUniques.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

---

<Layout titre=" KRAZE |Pièces uniques et collaborations exclusives" description="Découvrez les pièces uniques et collaborations exclusives de Kraze. Chaque création est une œuvre originale, fabriquée à la main avec passion et savoir-faire. Explorez notre collection de broderie, broche, bijoux et corsets exclusifs !">
    <h1 class="lg:mt-[2em] lg:mb-[0em] mb-[2em] text-center">PIECES UNIQUES</h1>

  <div class="">
    <div class="">
      <ProductsGrid client:load pieceUniques={sorted} type="piece-unique" />
    </div>

  </div>
  <div class="flex justify-center mt-[5em] mb-[1.5em]">
    <img src="/logo/MONOGRAMME_KRAZE.svg" alt="KRAZE Logo" class="lg:w-[8em] w-[5em] m-auto  " />
  </div>
</Layout>
