---
export const prerender = false
import Layout from '../../layouts/Layout.astro';
import {getPieceUniques} from '../../lib/api/piece-uniques.js';
import ProductsGrid from '../../components/ProductsGrid';


const pieceUniques = await getPieceUniques();

const sorted = pieceUniques.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

---

<Layout titre=" KRAZE | Pièces uniques">
    <h1 class="lg:mt-[2em] lg:mb-[0em] mb-[2em] text-center">PIECES UNIQUES</h1>

  <div class="">
    <div class="">
      <ProductsGrid client:load pieceUniques={sorted} type="piece-unique" />
    </div>

  </div>
  <div class="flex justify-center mt-[5em] mb-[1.5em]">
    <img src="/logo/MONOGRAMME_KRAZE.svg" alt="KRAZE Logo" class="lg:w-[8em] w-[5em] m-auto  " />
  </div>
</Layout>
