---
import Layout from '../layouts/Layout.astro';
import {getProducts} from '../lib/./api/produits.js';
import ProductsSwiper from '../components/ProductsSwiper.jsx';

const produits = await getProducts();

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
  <div class="container">
      <div class="swiper">
        <ProductsSwiper client:load produits={produits} />
      </div>
  </div>
</Layout>
