---
import '../styles/global.css';
import {getPage} from '../lib/api/page.js';
import OptimizeByCloudinary from '../lib/OptmizeByCloudinary.js';

const page = await getPage('index')
const photo = page.content[0].photo.url
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KRAZE</title>
	</head>
	<body id="enterpage" class="relative">
    <img src="/logo/LOGO KRAZE.svg" class="absolute w-[50%] t-[50%]">
    <div class=" h-screen w-[100%] flex justify-end fond">
      <div class="lg:w-[70%] flex justify-end">
        <img src={OptimizeByCloudinary(photo)} class="h-full w-auto"/>
      </div>
    </div>
  </body>
