---
import Layout from '../layouts/Layout.astro';
import {getProducts} from '../lib/./api/produits.js';
import ProductsSwiper from '../components/ProductsSwiper.jsx';

const produits = await getProducts();
console.log("voila ce qu'coucou thomas,  y a dans la vue", produits);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
  <div class=" fullscreen flex flex-col  ">
      <div class="lg:w-[50em] w-[100%] m-auto mt-[2em] lg:mt-[7em]">
        <ProductsSwiper client:load produits={produits} />
      </div>
  </div>
  <div class="containeer lg:w-[28em] m-auto text-center">
    <img src="/logo/MONOGRAMME_KRAZE.svg" alt="KRAZE Logo" class="lg:w-[8em] w-[5em] mt-[3em] m-auto mb-[3em]" />
    <p class="text-[20px] ">Pièces fabriquées sur commande & <a href="/projet-custom" class="underline underline-offset-5">projets custom</a></p>
  </div>
</Layout>
