---
import Layout  from '../layouts/Layout.astro';
import FetchOrder from '../components/FetchOrder';


---

<Layout>
  <div class="h-[calc(100vh-8em)]">
    <div class="lg:mx-[5em] flex flex-col h-[100%] items-center mt-[2em]">
      <h1 class="mt-[1em]">Merci pour votre commande !</h1>
      <div class="lg:w-[60%] flex flex-col ">
        <FetchOrder client:only />
    </div>
  </div>
