.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  height: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid #8940f0;
  padding-top:1em;

}

.content img{
  width: auto;
  height: 100%;
  object-fit: cover;
  align-self: center;
}


.detailsproduits{
  display:flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}



.swiper-button-next svg,
.swiper-button-prev svg {
  pointer-events: none; /* pour que le clic passe à travers le SVG vers le bouton */
}


.swiper-link{
  display: flex;
  flex-direction: column;
  text-decoration:none;
  height: 100%;
  justify-content: space-between;
}

#fleche-gauche{
  position: absolute;
  top: 97%;
  left:47%
}
#fleche-droite{
  position: absolute;
  top: 97%;
  right: 47%;
}

#fleche-gauche2{
  position: absolute;
  top: 50%;
  left: 20%}
#fleche-droite2{
  position: absolute;
  top: 50%;
  right: 20%;
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-once {
  animation: spin-once 0.3s linear;
}


@media (max-width: 600px) {
  .content {
    min-width: 0%;
    padding: 0.5em;
    max-height:29em
  }
  .content img {

    width: 300px;
    height: 375px;
  }

  #fleche-gauche{
    top: 95%;
    left: 40%
  }
  #fleche-droite{
    top: 95%;
    right: 40%;


  }
  #fleche-gauche2{
    top: 105%;
    left: 40%
  }
  #fleche-droite2{
    top: 105%;
    right: 40%;
  }
}
