---
import '../assets/styles/main.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>KRAZE</title>
	</head>
	<body>
    <header>
      <div class="header">
        <h2>projet sur mesure</h2>
        <h1 class="logo">Kraze</h1>
        <h2>panier</h2>
      </div>
    </header>

    <main>
      <slot />
    </main>
    <footer>
      <div class="footer">
        <h2>mentions légales</h2>
        <h2>A propos</h2>
      </div>
	</body>
</html>
