---
import '../styles/global.css';
import CartBadge from '../components/CartBadge';
import ActiveLink from '../components/ActiveLink'

const { titre = "KRAZE" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{titre}</title>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/logo/MONOGRAMME_KRAZE.svg"/>
    <meta name="description" content="Kraze est une marque de borderie et de corseterie artisanale. Visitez notre boutique et découvrez nos corsets et nos bustiers !" />
		<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>

      <header>
        <div class="header flex">
          <a href="/corsets-et-bustiers" class="logo">
            <img src="/logo/LOGO KRAZE.svg" alt="KRAZE Logo" class="lg:w-[20em] w-[8em] " />
          </a>
          <div class="h-[60%] w-[100%] self-end flex place-content-between">
              <div class=" flex lg:h-[100%] lg:w-[30%] w-[65%] lg:gap-[10em] place-content-between lg:place-content-start">
                <ActiveLink client:load href="/projet-custom" position="top" >
                Custom</ActiveLink>
                <ActiveLink client:load href="/pieces-uniques" position="top" >
                Pièces Uniques</ActiveLink>
              </div>

              <div class="flex gap-1">
                <ActiveLink client:load href="/panier" position="top">Panier</ActiveLink>
                <CartBadge client:only />

              </div>
          </div>
        </div>
      </header>

      <main>
        <slot />
      </main>
      <footer>
        <div class="footer flex flex-col place-content-between">
          <div class="h-[60%] w-[100%] flex place-content-between">

            <ActiveLink client:load href="/mentions-legales" position ="end">Mentions légales</ActiveLink>


            <ActiveLink client:load href="/a-propos" position="end" >
              À propos
            </ActiveLink>
          </div>
        </div>
      </footer>

	</body>
</html>
