---
import '../styles/global.css';
import CartBadge from '../components/CartBadge';
import ActiveLink from '../components/ActiveLink'

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KRAZE</title>
	</head>
	<body>

      <header>
        <div class="header">
          <div class="h-[100%] flex place-content-between">
              <div class=" flex lg:h-[100%] lg:w-[30%] w-[65%] lg:gap-[10em] place-content-between lg:place-content-start">
                <ActiveLink client:load href="/projet-custom" position="center" >
                Custom</ActiveLink>
                <ActiveLink client:load href="/pieces_uniques" position="center" >
                Pièces Uniques</ActiveLink>
              </div>

              <a href="/corsets-et-bustiers" class="logo">
                <img src="/logo/LOGO KRAZE.svg" alt="KRAZE Logo" class="lg:w-[20em] w-[8em] " />
              </a>
              <div class="flex gap-1">
                <ActiveLink client:load href="/panier" position="center">Panier</ActiveLink>
                <CartBadge client:only />

              </div>
          </div>
        </div>
      </header>

      <main>
        <slot />
      </main>
      <footer>
        <div class="footer">
          <div class="h-[100%] flex place-content-between">
            <a class:list={["self-end", currentPath === "/mentions-legales" ? "orange-underline" : undefined]}>Mentions légales</a>

            <ActiveLink client:load href="/a-propos" position="end" >
              À propos
            </ActiveLink>
        </div>
        </div>
      </footer>

	</body>
</html>
