---
import '../styles/global.css';
import CartBadge from '../components/CartBadge';
import ActiveLink from '../components/ActiveLink'

const currentPath = Astro.url.pathname;
console.log("Current path:", currentPath);
const page = currentPath.split("/").at(-1)?.toUpperCase().split("-").join(" ");
const titre = currentPath.includes('success') ? `KRAZE | MERCI` : `KRAZE | ${page}`;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/logo/MONOGRAMME_KRAZE.svg"/>
    <meta name="description" content="Kraze est une marque de borderie et de corseterie artisanale. Visitez notre boutique et découvrez nos corsets et nos bustiers !" />
		<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> {titre}</title>
	</head>
	<body>

      <header>
        <div class="header">
          <div class="h-[100%] flex place-content-between">
              <div class=" flex lg:h-[100%] lg:w-[30%] w-[65%] lg:gap-[10em] place-content-between lg:place-content-start">
                <ActiveLink client:load href="/projet-custom" position="center" >
                Custom</ActiveLink>
                <ActiveLink client:load href="/pieces-uniques" position="center" >
                Pièces Uniques</ActiveLink>
              </div>

              <a href="/corsets-et-bustiers" class="logo">
                <img src="/logo/LOGO KRAZE.svg" alt="KRAZE Logo" class="lg:w-[20em] w-[8em] " />
              </a>
              <div class="flex gap-1">
                <ActiveLink client:load href="/panier" position="center">Panier</ActiveLink>
                <CartBadge client:only />

              </div>
          </div>
        </div>
      </header>

      <main>
        <slot />
      </main>
      <footer>
        <div class="footer">
          <div class="h-[100%] flex place-content-between">
            <ActiveLink client:load href="/mentions-legales" position ="end">Mentions légales</ActiveLink>

            <ActiveLink client:load href="/a-propos" position="end" >
              À propos
            </ActiveLink>
        </div>
        </div>
      </footer>

	</body>
</html>
